*{
  margin: auto;
  box-sizing: border-box;
}
body{
  width: 50vw;
  background: url("../img/natural-default-pattern.png");
  margin : auto;
  text-align: center;
  max-width: 1120px;
}
header{
  height: 25%;
  background-color: blue;
  color:white;
  margin: 24px 0px;
  position:relative;
}
.cover{
  background-image: url("../img/natural-default-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25%;
  border: 5px solid white;
}
header>section>img{
  height: 100%;
  width: 100%;
}
.upercase{
  text-transform: uppercase;
}
nav{
  background-color: gray;
}
ul li {
  display: inline-block;
  list-style: none;
  padding: 10px;
  border-right: 2px solid #3c3531;
}
nav>ul li:hover {
  background-color: #504741;
  cursor: pointer;
}
ul > li:last-child{
  border-right-width: 0px;
}
h2 {padding-bottom: 50px;}

.as_left{
  float: left;
  width: 15vw;
  color: green;
  background-color: red;
}
main>aside>img{
  width: 20px;
  height: 20px;
  display: inline-block;
}
div.box{
  float: left;
  width: 20vw;
  background-color: green;
}
.as_right{
  float: right;
  width: 15vw;
  background-color: yellow;
}

main::after{
  content: "";
  display: table;
  clear: both;
}

footer{
  background-color: white;
  border-radius: 5px;
  margin-bottom: 24px;                  /*Margin bottom*/
}

footer>img:nth-child(2n+1){
  padding:0 20%;
}
