* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 50vw;
  background: url("../img/natural-default-pattern.png");
  margin: auto;
  text-align: center;
  max-width: 1120px;
}

header {
  height: 25%;
  background-color: blue;
  color: white;
  position: relative;
}

header, footer {
  margin: 24px 0px 12px 0px;
}

.cover {
  background-image: url("../img/natural-default-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25%;
  border: 10px solid white;
}

header>section>img {
  height: 100%;
  width: 100%;
}

.upercase {
  text-transform: uppercase;
}

nav {
  background-color: gray;
}

ul li {
  list-style: none;
}

nav>ul li {
  display: inline-block;
  padding: 10px;
  border-right: 2px solid #3c3531;
}

nav>ul li:hover {
  background-color: #504741;
  cursor: pointer;
}

nav>ul>li:last-child {
  border-right-width: 0px;
}

h2 {
  padding-bottom: 50px;
}

#rss_icon {
  float: left;
  margin: 10px;
}

.as_left {
  position: relative;
  text-align: left;
  float: left;
  width: 25%;
  color: green;
  margin-right: 12px;
}

.as_left>ul li {
  padding: 0px
}

main>aside>img {
  width: 20px;
  height: 20px;
  display: inline-block;
}

main>div.box {
  float: left;
  width: 45%;
  margin: 0 12px;
}

.as_right {
  float: right;
  width: 25%;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: white;
  border-radius: 5px;
}

footer>img:nth-child(2n+1) {
  padding: 0 20%;
}

.margin_top {
  margin: 24px 0;
}

.box {
  background-color: white;
  border-radius: 5px;
  padding: 10px 0;
}

h3 {
  padding: 10px;
  display: inline-block;
}
